html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: Arial;
}

h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0 0 34px;
	border-bottom: 1px solid #e5e5e5;
}

#black-bar {
	background-color: #00122f;
	color: white;
	padding: 20px 0;
	font-size: 16px;
}

#black-bar a {
	color: white;
}

.fixed-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#datetime {
	float: right;
}

#header {
	height: 100px;
	margin-bottom: 25px;
}

#logo {
	position: absolute;
	top: 40px;
}

#date-day {
	font-size: 14px;
	position: absolute;
	top: 55px;
	left: 300px;
}

#time {
	font-size: 14px;
	position: absolute;
	top: 55px;
	left: 450px;
	padding-left: 25px;
	background-image: url('img/clock.png');
	background-size: 28%;
	background-repeat: no-repeat;
}

#weather {
	font-size: 14px;
	position: absolute;
	top: 55px;
	left: 530px;
	padding-left: 30px;	
	background-image: url('img/weather.png');
	background-size: 37%;
	background-repeat: no-repeat;
}

#search {
	font-size: 14px;
	position: relative;
	top: 45px;
	left: 620px;
	padding: 10px 0;
	border-radius: 15px;
	background-color: #eee;
	padding-left: 15px;
	border: none;
	background-image: url('img/glass.png');
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

#menu-container {
	height: 60px;
}

	.inline-block-menu {
	display: inline-block;
}

	.margin-20 {
	margin-left: 16px;
}

#column-left {
	background-color: #FFFFFF;
	width: 250px;
	float: left;
}

	.news-item {
		padding-left: 18px;
		margin-bottom: 27px;
		font-size: 14px;
	}

	.news-item-text {
		margin-bottom: 20px;
	}

	.news-item-props {
		font-size: 12px;
		position: relative;
	}

		.news-item-props a {
			color: #91919f;
		}

		.news-time {
			position: absolute;
			top: 0;
			left: 120px;
			padding-left: 15px;
			background-image: url('img/icon-time.png');
			background-repeat: no-repeat;
		}

		.news-comments-count {
			position: absolute;
			top: 0;
			left: 180px;
			padding-left: 15px;
			background-image: url('img/icon-comments.png');
			background-repeat: no-repeat;
		}

		#all-news {
			color: blue;
			text-align: center;
			padding: 15px 0;
			border: 1px solid blue;
			border-radius: 25px;
			width: 180px;
			margin: 40px 35px;
		}

#column-center {
	width: 420px;
	margin-left: 20px;
	float: left;
}

	#column-center-img {
		margin-bottom: 20px;
	}

	#column-center-left {
		width: 200px;
	}

	.news-item-сс {
		font-weight: bold;
		margin: 5px 0 20px 0;
		font-size: 14px;
}

.news-item-props {
	font-size: 12px;
	position: relative;
}

	.news-item-props a {
		color: #91919f;
	}

	.news-time-cc {
		position: absolute;
		top: 0;
		left: 80px;
		padding-left: 15px;
		background-image: url('img/icon-time.png');
		background-repeat: no-repeat;
	}

	.news-comments-count-cc {
		position: absolute;
		top: 0;
		left: 140px;
		padding-left: 15px;
		background-image: url('img/icon-comments.png');
		background-repeat: no-repeat;
	}

	.m-24 {
		margin-bottom: 24px;
	}

	#column-center-right {
		float: right;
		width: 200px;
		margin-top: -465px;
	}

#central-container {
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url('img/central-bg-top.png');
	background-repeat: repeat-x;
	margin-bottom: 60px;
}

#central-container .fixed-container {
	overflow-y: hidden;
}

#column-right {
	width: 250px;
	float: right;
}

#column-right img {
	margin-bottom: 20px;
}

#special-news {
	background-color: white;
}

#special-news-left {
	width: 550px;
}

#special-news-right {
	float: right;
	width: 410px;
}

.news-item-bottom {
	font-weight: bold;
	margin: 0 30px 20px 20px;
	font-size: 14px;
}

.news-props-bottom {
font-size: 12px;
position: relative;
margin: 0 30px 30px 20px;
}

.news-props-bottom a {
	color: #91919f;
}

.news-time-bottom {
	position: absolute;
	top: 0;
	left: 80px;
	padding-left: 15px;
	background-image: url('img/icon-time.png');
	background-repeat: no-repeat;
}

.news-comments-bottom {
	position: absolute;
	top: 0;
	left: 140px;
	padding-left: 15px;
	background-image: url('img/icon-comments.png');
	background-repeat: no-repeat;
}

#footer {
	background-color: #00122f;
	color: white;
	height: 312px;
	font-size: 16px;
}

#f-menu-left {
	margin-top: 57px;
	width: 133px;
	float: left;
}

#f-menu-right {
	margin-top: 57px;
	width: 279px;
	float: left;
}

#about-agency {
	margin-top: 59px;
	width: 321px;
	float: left;
}

#contacts {
	margin-top: 57px;
	width: 227px;
	float: right;
}

.in-block {
	display: inline-block;
	margin-right: 10px;
}

.phone {
	padding-left: 25px;
	background-image: url('img/telephone.png');
	background-repeat: no-repeat;
}

.email {
	padding-left: 25px;
	background-image: url('img/email.png');
	background-repeat: no-repeat;
}

.footer-menu {
	margin-bottom: 20px;
}

#footer-top {
	height: 260px;
	border-bottom: 1px solid #e5e5e5;
}

#footer-bottom {
	font-size: 12px;
	color: #69707c;
	padding: 20px 0;
	text-align: center;
}
